* {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
}

.slider {
    width: 10vw;
    height: 90vh;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    -webkit-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.coffee_type {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

.swipe_button {
    width: 100%;
    height: 10%;
    background-color: rgba(255, 0, 0, 0);
    border-style: none;
}

.right_side {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 1.5%;
}

.top_side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

.search_string {
    width: 50vw;
    height: 5vh;
    background-color: #DADADA;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.search_string input {
    width: 90%;
    border-style: none;
    background-color: #DADADA;;
    font-size: 25px;
}

.number_orders {
    margin-top: auto;
    margin-bottom: auto;
}

.number_circle {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #CD4126CC;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card_item {
    background-color: #FFFFFF;
    width: 28.5%;
    border-radius: 30px;
    padding: 20px; 

    -webkit-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 2%;
}

.card_item img {
    width: 90%;
    height: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    align-self: center;
}

.coffee_name {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.coffee_price {
    align-self: center;
    background-color: #DADADA;
    border-radius: 12px;
    width: 25%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    font-weight: bold;
    margin: 0;
    position: relative;
}

.coffee_price .price_text {
    position: absolute;
    left: 50%;
    transform: translateX(-65%);
    text-align: center;
    width: 100%;
}

.plus_button {
    height: 120%;
    aspect-ratio: 1;
    background-color: #CD4126CC;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    order: 2;
    border-style: none;
}

.plus_button::before {
    content: "+";
    color: white;
    font-size: 30px;
    font-weight: bold;
}